@define-color background-color #3b4252;
@define-color color-default #8a909e;
@define-color color-red #fb958b;
@define-color color-blue #5E81AC;

* {
  color: @color-default;
  font-family: Hack Nerd Font;
  font-size: 16px;
  min-height: 20px;
}

#waybar {
  background: transparent;
}

#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  background-color: @background-color;
  border-radius: 8px;
}

/* TODO*/
/*.modules-center {*/
/*  background-color: @background-color;*/
/*  border-radius: 8px;*/
/*  padding: 0 8px;*/
/*}*/

.modules-right {
  background-color: @background-color;
  border-radius: 8px;
  padding: 0 8px;
}

@keyframes button_activate {
  from { opacity: .3 }
  to { opacity: 1.; }
}

#workspaces button.active {
  background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%);
  animation: button_activate .2s ease-in-out;
}

#workspaces button.urgent {
  background: radial-gradient(circle, rgba(25, 79, 255, 0.3) 20%, rgba(132,129,156,0) 30%);
}

#custom-launcher {
  color: @color-blue;
}

#pulseaudio.muted {
  color: @color-red;
}

#network {
  color: @color-blue;
}

#network.disconnected {
  color: @color-red;
}

#clock {
  color: @color-default;
}

tooltip {
  border-radius: 8px;
  background-color: #242933;
}

tooltip label {
  color: #8a909e;
  background-color: #242933;
}

label:focus {
  background-color: #242933;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
